.popup {
  position: absolute;
  width: 60vw;
  height: 60vh;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
  background-color: grey;
  text-align: center; }
  .popup h1 {
    font-size: 50px; }
  .popup h2 {
    font-size: 30px; }
