.textbox {
    flex: 1;
    position: relative;
    height: fit-content;
    min-height: 100px;
    padding: 10px;
    background-color: lightblue;
    border: 1px solid black;

    &::before {
        content: "Click to focus.";
        display: grid;
        place-content: center;
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-color: lightgrey;
        transition: opacity 500ms ease-out;
    }

    .input-div {
        font-size: 30px;
    }

    .previous-text {
        color: red;
        
        b {
            color: black;
            font-weight: normal;
            background-color: darkred;
        }
    }

    &:focus-within {
        &::before {
            opacity: 0;
        }

        .previous-text {
            position: relative;

            &::after {
                content: "";
                width: 3px;
                height: 100%;
                background-color: red;
                position: absolute;
                right: 0;
                animation: blink 1.25s ease-out infinite; 
            }
        }
    }
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}