.utility {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 25px;
    font-size: 28px;
    margin-bottom: 60px;

    &__buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 50px;
    }

    .btn-default {
        background-color: limegreen;
        border: 2px solid limegreen;
        padding: 0.75rem 1.25rem;
        font-size: 18px;
        border-radius: .25rem;
        cursor: pointer;
        transition: all 200ms ease-out;

        &.active {
            background-color: rgba(255, 0, 0, 0.2);
            border: 2px solid red;
        }
    }
}