.scene-road {
    .car {
        @include car(1.35);
    }

    .track {
        .top {
            height: 50px;
        }
        .bottom {
            height: 50px;
        }
        .stripe {
            height: 10px;
        }
    }
}