.track {
    display: grid;
    position: relative;

    .top,
    .bottom {
        height: 70px;
        background-color: grey;
    }

    .stripe {
        width: 150px;
        height: 15px;
        background-color: white;
    }

    .lines {
        display: flex;
        padding: 0 2rem;
        column-gap: 90px;
        background-color: grey;
    }

    .car {
        position: absolute;

        img {
            width: 80%;
            max-height: 100%;
        }
    }
}