html,
body {
  height: 100%;
  margin: 0;
  padding: 0; }

img {
  display: block; }

* {
  margin: 0;
  padding: 0; }

ul {
  list-style: none; }

a {
  color: inherit;
  text-decoration: none; }

* {
  box-sizing: border-box; }

button {
  background-color: transparent;
  border: none; }

input,
textarea {
  border: none; }

.track {
  display: grid;
  position: relative;
  overflow: hidden; }
  .track .top,
  .track .bottom {
    height: 70px;
    background-color: grey; }
  .track .stripe {
    width: 150px;
    height: 15px;
    background-color: white; }
  .track .lines {
    display: flex;
    padding: 0 2rem;
    column-gap: 90px;
    background-color: grey; }

.powerUpView {
  width: 180px;
  display: grid;
  row-gap: 15px; }
  .powerUpView .item {
    display: grid;
    place-content: center;
    width: 180px;
    height: 180px;
    background-color: #C7C1C1; }
  .powerUpView p {
    text-align: center;
    font-size: 32px; }

.target {
  width: fit-content; }
  .target .icon img {
    width: 180px;
    height: 180px;
    object-fit: contain; }
  .target p {
    font-size: 32px;
    text-align: center; }

.textbox {
  flex: 1;
  height: fit-content;
  padding: 10px;
  background-color: lightblue; }
  .textbox .input-div {
    font-size: 30px; }
  .textbox .previous-text {
    color: red; }
    .textbox .previous-text b {
      color: black;
      font-weight: normal;
      background-color: darkred; }
  .textbox:focus-within .previous-text {
    position: relative; }
    .textbox:focus-within .previous-text::after {
      content: "";
      width: 3px;
      height: 100%;
      background-color: red;
      position: absolute;
      right: 0;
      animation: blink 1.25s ease-out infinite; }

@keyframes blink {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }

.utility {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 25px;
  font-size: 28px;
  margin-bottom: 60px; }
  .utility__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 50px; }
  .utility .btn-default {
    background-color: limegreen;
    border: 2px solid limegreen;
    padding: 0.75rem 1.25rem;
    font-size: 18px;
    border-radius: .25rem;
    cursor: pointer;
    transition: all 200ms ease-out; }
    .utility .btn-default.active {
      background-color: rgba(255, 0, 0, 0.2);
      border: 2px solid red; }

.header {
  display: flex;
  column-gap: 50px;
  margin-bottom: 15px; }

.car {
  width: calc(360px / 1);
  height: calc(150px / 1);
  position: absolute;
  transition: left 1.5s linear; }
  .car .player-name {
    width: fit-content;
    height: fit-content;
    position: absolute;
    top: 10px;
    right: 25px;
    background-color: skyblue;
    padding: 0.25rem 0.5rem; }
  .car__body {
    width: calc(350px / 1);
    height: calc(80px / 1);
    position: absolute;
    left: 5px;
    bottom: 5px;
    background-color: #3A83D3;
    border-radius: calc(50px / 1) calc(80px / 1) calc(40px / 1) calc(20px / 1);
    border: 5px solid black; }
    .car__body__headlight {
      position: absolute;
      right: calc(-10px / 1);
      top: 25%;
      width: calc(20px / 1);
      height: calc(45px / 1);
      background-color: yellow;
      border: 3px solid black;
      border-radius: 0 calc(20px / 1) calc(20px / 1) 0; }
    .car__body__taillight {
      position: absolute;
      left: calc(-15px / 1);
      top: 25%;
      width: calc(25px / 1);
      height: calc(45px / 1);
      background-color: red;
      border: 3px solid black;
      border-radius: calc(15px / 1) 0 0 calc(15px / 1); }
    .car__body__topper {
      position: absolute;
      left: calc(60px / 1);
      bottom: 100%;
      width: calc(180px / 1);
      height: calc(60px / 1);
      border-radius: calc(180px / 1) calc(180px / 1) 0 0;
      background-color: #3A83D3;
      border-top: 5px solid black;
      border-right: 5px solid black;
      border-left: 5px solid black; }
    .car__body__tires__tire {
      position: absolute;
      width: calc(70px / 1);
      height: calc(70px / 1);
      border-radius: 50%;
      border: 5px solid black;
      background-color: #4B4B4B; }
      .car__body__tires__tire__inner {
        position: absolute;
        width: calc(40px / 1);
        height: calc(40px / 1);
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        border: 3px solid black;
        background-color: #9C9C9D; }
        .car__body__tires__tire__inner::after {
          content: "";
          position: absolute;
          width: calc(15px / 1);
          height: calc(15px / 1);
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          border-radius: 50%;
          border: 3px solid black;
          background-color: #4B4B4B; }
    .car__body__tires__front {
      left: calc(50px / 1);
      bottom: -20%; }
    .car__body__tires__back {
      right: calc(60px / 1);
      bottom: -20%; }
  .car.car-brick {
    width: calc(410px / 1); }
    .car.car-brick .car__body {
      width: calc(400px / 1);
      height: calc(80px / 1);
      border-radius: calc(50px / 1) calc(35px / 1) calc(15px / 1) calc(15px / 1);
      background-color: #238c28; }
      .car.car-brick .car__body__topper {
        width: calc(150px / 1);
        background-color: #238c28; }

.popup.winner {
  text-align: center; }
  .popup.winner h1 {
    font-size: 50px; }
  .popup.winner h2 {
    font-size: 30px; }

.popup {
  position: absolute;
  width: 60vw;
  height: 60vh;
  top: 15%;
  left: 50%;
  padding: 1rem;
  transform: translateX(-50%);
  background-color: grey;
  box-shadow: 5px 5px 5px black; }
  .popup .button-section {
    display: flex;
    width: 100%;
    height: 50px;
    position: absolute;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    bottom: 1rem;
    left: 0; }
    .popup .button-section__exit, .popup .button-section__continue {
      width: fit-content;
      padding: 0.5rem 1rem;
      background-color: #717172;
      border-radius: 5px;
      border: 2px solid black;
      font-size: 20px;
      cursor: pointer; }
  .popup .close-button {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 20px;
    padding: 0.20rem 0.35rem;
    border: 1px solid black;
    cursor: pointer; }

.scene-road .car {
  width: calc(360px / 1.35);
  height: calc(150px / 1.35);
  position: absolute;
  transition: left 1.5s linear; }
  .scene-road .car .player-name {
    width: fit-content;
    height: fit-content;
    position: absolute;
    top: 10px;
    right: 25px;
    background-color: skyblue;
    padding: 0.25rem 0.5rem; }
  .scene-road .car__body {
    width: calc(350px / 1.35);
    height: calc(80px / 1.35);
    position: absolute;
    left: 5px;
    bottom: 5px;
    background-color: #3A83D3;
    border-radius: calc(50px / 1.35) calc(80px / 1.35) calc(40px / 1.35) calc(20px / 1.35);
    border: 5px solid black; }
    .scene-road .car__body__headlight {
      position: absolute;
      right: calc(-10px / 1.35);
      top: 25%;
      width: calc(20px / 1.35);
      height: calc(45px / 1.35);
      background-color: yellow;
      border: 3px solid black;
      border-radius: 0 calc(20px / 1.35) calc(20px / 1.35) 0; }
    .scene-road .car__body__taillight {
      position: absolute;
      left: calc(-15px / 1.35);
      top: 25%;
      width: calc(25px / 1.35);
      height: calc(45px / 1.35);
      background-color: red;
      border: 3px solid black;
      border-radius: calc(15px / 1.35) 0 0 calc(15px / 1.35); }
    .scene-road .car__body__topper {
      position: absolute;
      left: calc(60px / 1.35);
      bottom: 100%;
      width: calc(180px / 1.35);
      height: calc(60px / 1.35);
      border-radius: calc(180px / 1.35) calc(180px / 1.35) 0 0;
      background-color: #3A83D3;
      border-top: 5px solid black;
      border-right: 5px solid black;
      border-left: 5px solid black; }
    .scene-road .car__body__tires__tire {
      position: absolute;
      width: calc(70px / 1.35);
      height: calc(70px / 1.35);
      border-radius: 50%;
      border: 5px solid black;
      background-color: #4B4B4B; }
      .scene-road .car__body__tires__tire__inner {
        position: absolute;
        width: calc(40px / 1.35);
        height: calc(40px / 1.35);
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        border: 3px solid black;
        background-color: #9C9C9D; }
        .scene-road .car__body__tires__tire__inner::after {
          content: "";
          position: absolute;
          width: calc(15px / 1.35);
          height: calc(15px / 1.35);
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          border-radius: 50%;
          border: 3px solid black;
          background-color: #4B4B4B; }
    .scene-road .car__body__tires__front {
      left: calc(50px / 1.35);
      bottom: -20%; }
    .scene-road .car__body__tires__back {
      right: calc(60px / 1.35);
      bottom: -20%; }
  .scene-road .car.car-brick {
    width: calc(410px / 1.35); }
    .scene-road .car.car-brick .car__body {
      width: calc(400px / 1.35);
      height: calc(80px / 1.35);
      border-radius: calc(50px / 1.35) calc(35px / 1.35) calc(15px / 1.35) calc(15px / 1.35);
      background-color: #238c28; }
      .scene-road .car.car-brick .car__body__topper {
        width: calc(150px / 1.35);
        background-color: #238c28; }

.scene-road .track .top {
  height: 50px; }

.scene-road .track .bottom {
  height: 50px; }

.scene-road .track .stripe {
  height: 10px; }

html, body {
  overflow: hidden; }

.container {
  padding: 25px 40px; }
