.track {
  display: grid;
  position: relative; }
  .track .top,
  .track .bottom {
    height: 70px;
    background-color: grey; }
  .track .stripe {
    width: 150px;
    height: 15px;
    background-color: white; }
  .track .lines {
    display: flex;
    padding: 0 2rem;
    column-gap: 90px;
    background-color: grey; }
  .track .car {
    position: absolute; }
    .track .car img {
      width: 80%;
      max-height: 100%; }

.powerUpView {
  width: 180px;
  display: grid;
  row-gap: 15px; }
  .powerUpView .item {
    display: grid;
    place-content: center;
    width: 180px;
    height: 180px;
    background-color: #C7C1C1; }
  .powerUpView p {
    text-align: center;
    font-size: 32px; }

.target {
  width: fit-content; }
  .target .icon img {
    width: 180px;
    height: 180px;
    object-fit: contain; }
  .target p {
    font-size: 32px;
    text-align: center; }

.textbox {
  flex: 1;
  height: 35px;
  padding: 10px;
  background-color: lightblue; }
  .textbox .input-div {
    font-size: 30px; }
  .textbox .previous-text {
    color: red; }
    .textbox .previous-text b {
      color: black;
      font-weight: normal;
      background-color: darkred; }
  .textbox:focus-within .previous-text {
    position: relative; }
    .textbox:focus-within .previous-text::after {
      content: "";
      width: 3px;
      height: 100%;
      background-color: red;
      position: absolute;
      right: 0;
      animation: blink 1.25s ease-out infinite; }

@keyframes blink {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }

.header {
  display: flex;
  column-gap: 50px;
  margin-bottom: 150px; }

.container {
  padding: 25px 40px; }
